/* registration.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.block {
    background-color: #fff;
    margin: auto;
    width: 40%;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 160px);
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #777;
}

button {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.form-row {
    display: flex;
    align-items: center;
}

.ml-3 {
    margin-left: 15px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
