{% extends 'base.html.twig' %} {% block title %}Étudiant{% endblock %} {% block
body %}
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(function () {
    $("#tabs").tabs({
      beforeLoad: function (event, ui) {
        ui.jqXHR.error(function () {
          ui.panel.html("Error loading content.");
        });
      },
      beforeActivate: function (event, ui) {
        var activeTab = $(ui.newPanel).attr("id");
        switch (activeTab) {
          case "bloc":
            $("#" + activeTab).load("./etudiant/note");
            break;
          case "tabs-4":
            $("#" + activeTab).load("./etudiant/visualisation");
            break;
        }
      }
    });
    // Load the "Visualisation des étudiants" tab content by default
    $("#tabs-4").load("./etudiant/visualisation");
    $("#tabs").tabs("option", "active", 1); // Set the second tab as active
  });
</script>

<div id="tabs">
  <ul>
    <li><a href="#bloc">Insertion des notes</a></li>
    <li><a href="#tabs-4">Visualisation des étudiants</a></li>
  </ul>
  <div id="bloc"></div>
  <div id="tabs-2"></div>
  <div id="tabs-3"></div>
  <div id="tabs-4"></div>
</div>



<style>
</style>
{% endblock %}
